/*------ Typography Style ------*/

body {
    color: #163650;
    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Lato", sans-serif;
  }
  
  a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
    color: inherit;
  }
  
  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 8px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.5;
  }
  
  h1,
  .h1 {
    font-size: 3.5rem;
  }
  
  @media only screen and (max-width: 767.98px) {
  
    h1,
    .h1 {
        font-size: 3rem;
    }
  }
  
  @media only screen and (max-width: 479.98px) {
  
    h1,
    .h1 {
        font-size: 2.5rem;
    }
  }
  
  h2,
  .h2 {
    font-size: 3.2rem;
  }
  
  @media only screen and (max-width: 767.98px) {
  
    h2,
    .h2 {
        font-size: 2.8rem;
    }
  }
  
  @media only screen and (max-width: 479.98px) {
  
    h2,
    .h2 {
        font-size: 2.2rem;
    }
  }
  
  h3,
  .h3 {
    font-size: 2.5rem;
  }
  
  @media only screen and (max-width: 767.98px) {
  
    h3,
    .h3 {
        font-size: 2rem;
    }
  }
  
  h4,
  .h4 {
    font-size: 1.8rem;
  }
  
  h5,
  .h5 {
    font-size: 1.6rem;
  }
  
  h6,
  .h6 {
    font-size: 1.4rem;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  strong,
  b {
    font-weight: 700;
  }
  
  address {
    margin-bottom: 0;
  }
  
  figure {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /*--- Buttons ---*/
  
  .btn,
  button {
    cursor: pointer;
    outline: none;
    padding: 0.8rem 1.8rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 0px;
  }
  
  .main-btn {
    border: solid 2px #163650;
    background-color: #163650;
    color: #fff;
  }
  
  .main-btn:hover {
    border: solid 2px #57b285;
    background-color: #57b285;
    color: #fff;
  
  }
  
  .alt-btn {
    border: solid 2px #163650;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  
  .alt-btn:hover {
    border: solid 2px #163650;
    background-color: #163650;
    color: #fff;
  }
  
  .btn:active,
  .btn:focus,
  button:active,
  button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  input,
  textarea {
    resize: none;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
  }
  
  .form-control:focus {
    border-color: #f18801;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .container {
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
  }
  
  .container-fluid {
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
  }
  
  /*--- Short classes ---*/
  
  .hero-section {
    position: relative;
    height: 100vh;
    max-height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fw-section {
    min-height: 60vh;
    padding: 6rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .two-col-section {
    /* min-height: 60vh; */
    padding: 2em 0;
  }
  
  .single-col-section {
    /* min-height: 60vh; */
    /* padding: 6em 0; */
  }
  
  /*--- Language Selector --- */
  
  .lang-selector {
    /* position: absolute;
    bottom: 50px; */
    margin-bottom: 0px;
    margin:0 auto;
    color: #fff;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: 600;
  }
  
  .lang-selector a {
    color: white;
  }
  
  .lang-selector li.list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px 10px;
  }
  
  .lang-selector .border-right {
    border-right: 2px solid #fff !important;
  }
  
  
  
  .list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .green-bg {
    background-color: #57b285;
  }
  
  .blue-bg {
    background-color: #163650;
  }
  
  .gray-bg {
    background-color: #ebebea;
  }
  
  .softgray-bg {
    background-color: #f5f5f5;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
  .w-text {
    color: #fff;
  }
  .g-text {
    color: #57b285;
  }
  .b-text {
    color: #163650;
  }
  .gray-text {
    color: #ebebea;
  }
  
  .hero-title {
    font-size: 5.5rem
  }
  
  .hero-subtitle {
    font-size: 1.5rem
  }
  
  .fw-section-title {
    font-size: 3.5rem;
    line-height: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
  .fw-section-subtitle {
    font-size: 2rem;
    line-height: 1.8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .content-title {
    padding: 1rem 0rem;
  }
  
  .cards-title {
    font-size: 1.8rem;
    line-height: 3rem;
    /* padding-bottom: 2rem;
    padding-top: 1rem; */
  }
  
  .cta-section {
    margin: 12.0rem 0rem 1rem 0rem;
  }
  
  .cta-card {
    margin-top: -6rem;
    margin-bottom: 6rem;
    padding: 4rem 2rem;
    max-width: 860px;
  }
  
  /*------ MOBILE STYLES -------*/
  @media only screen and (max-width: 767.98px) {
  
    .overlaped-box{
      margin-top: 6rem;;
    }
    .overlaped-col {
        margin-top: -6rem;
    }
  
    .hero-section {
        /* height: 80vh; */
        /* max-height: 860px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 0;
        height: auto;
      }
    
      .fw-section {
        min-height: auto;
        padding: 2rem 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  
    .two-col-section {
        padding: 2rem 0rem;
    }
  
    .single-col-section {
      /* min-height: 60vh; */
      padding: 64m 0;
    }
    
  
    .cta-card {
        margin-top: -6rem;
        margin-bottom: 6rem;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 3rem 1rem;
    }
  
    .hero-title {
        font-size: 2.5rem
    }
    
    .hero-subtitle {
        font-size: 1.3rem
    }
    
    .fw-section-title {
        font-size: 2rem;
        line-height: 2.3rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    
    .fw-section-subtitle {
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
  
  }
  