.btn{
    border: 1px solid $blue;
    &.btn-primary{
        background: $blue;
        color: $light-gray;
        &:hover{
            background: $light-blue;
        }
    }
    
    &.btn-secondary{
        background: $white;
        color: $blue;
        &:hover{
            background: $light-gray;
        }
    }
    &.btn-link{
        background: transparent;
        color: $white;
        &:hover{
            background: transparent;
        }
        border: none;
        padding: 0;
        margin: 0;

    }
    &.btn-small{
        padding: 5px 15px;
    }
}
