@import '_variables';

.header-okapadel{
  background-color: $blue;
}

.lead{
  margin-top: 0.5em;
  font-size: 11pt;
}

.huge-margin{
  margin: 8rem 0;
}

.text-link{
  text-decoration: underline;
  &.color-primary{
    color: $primary!important;
  }
  &:hover{
    color: $white;
  }
}


/*--- Hero Backgrounds ---*/
$darken: rgba(0, 0, 0, 0.4);
.hero-bg{
  &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
  }
  &.hero-home { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-home-min.webp"); }}
  &.hero-soluciones { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-soluciones-min.webp");}}
  &.hero-proyectos { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-proyectos-min.webp"); }}
  &.hero-proyectos-v2 { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-proyectos-min-v2.webp"); }}
  &.hero-calidad { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-calidad-min.webp"); }}
  &.hero-contacto { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-contacto-v2-min.webp"); }}
  &.hero-instalaciones { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-instalaciones_de_padel-min.webp"); }}
  &.hero-okapadel { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-okapadel-min.webp"); }}
  &.hero-nosotros { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-nosotros-min.webp"); }}

  &.hero-cubiertas { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-cubiertas-min.webp"); }}
  &.hero-cubierta-single { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-cubierta-single-padel-min.webp"); }}
  &.hero-cubierta-multy { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-cubierta-multy-padel-min.webp"); }}
  &.hero-cubierta-arena { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-cubiertas-arena-padel-min.webp"); }}
  
  &.hero-pistas { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-pistas-min.webp"); }}
  &.hero-pista-basic { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-modelo-basic-court-min.webp"); }}
  &.hero-pista-panoramic { &:before{ background-image: linear-gradient( $darken, $darken ), url("../images/headers/header-modelo-panoramic-court-min.webp"); }}
}

.footer{
  text-align: center;
}

.next-page-button{
  a{
    display: inline-block;
    border: 1px solid #173650;
    padding: 0.5em 2em;
    color: #212529;
    &:hover{
      background: $light-gray;
    }
  }
}